div {
    display: block;
}

.authBox {
    background: #36393f;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: #d0d2d6;
    font-size: 18px;
    padding: 40px;
    width: 480px; 
}

.centerWrapper {
    text-align: center;
    width: 100%;
}

.title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 8px;
    font-weight: 300;
    color: #000;
}

.subtitle {
    color: #a8adb7;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.authBlock {
    text-align: left;
    width: 100%;
    margin-top: 20px;
}

.username {
    margin-bottom: 20px;
}

.usernameHeading {
    color: #b9bbbe;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    flex: 1;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.inputDefault {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.3);
    color: #f6f6f7;
    height: 40px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

